<!DOCTYPE html>
<html>

    <head> 
        <title>Homepage</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body style='background-image:url("Pictures/homepage_bg.jpg"); background-size:cover; background-repeat:no-repeat; background-position: center center;'>
        <h1 style = "text-align:center; font-family:Arial Black, Gadget, sans-serif">Affitti Trento</h1>
        <hr>
        <div class = "container">
            <form class = "form-vertical">
                <div class = "form-group">
                    <div class = "col-sm-offset-2 col-sm-2">
                        <h2 style = "text-align:center; font-family:Impact, Charcoal, sans-serif;">Where?</h2>
                        <hr>
                        <div class = "checkbox">
                            <div class = "well" style = "background: rgb(160, 190, 239);">
                                <label><input type="checkbox">Trento</label>
                            </div>
                            <div class = "well" style = "background: rgb(239, 208, 160);">
                                <label><input type="checkbox">Povo</label>
                            </div>
                            <div class = "well" style = "background: rgb(160, 239, 165);">
                                <label><input type="checkbox">Mesiano</label>
                            </div>
                            <div class = "well" style = "background: rgb(218, 171, 234);">
                                <label><input type="checkbox">Villazzano</label>
                            </div>
                            <div class = "well" style = "background: rgb(252, 251, 209);">
                                <label><input type="checkbox">San Donà</label>
                            </div>
                            <div class = "well" style = "background: rgb(209, 250, 252);">
                                <label><input type="checkbox">Anywhere</label>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-2">
                        <h2 style = "text-align:center; font-family:Impact, Charcoal, sans-serif;">What?</h2>
                        <hr>
                        <div class = "checkbox">
                            <div class = "well" style = "background: rgb(160, 190, 239);">
                                <label><input type="checkbox">Single Room</label>
                            </div>
                            <div class = "well" style = "background: rgb(239, 208, 160);">
                                <label><input type="checkbox">Double Room</label>
                            </div>
                            <div class = "well" style = "background: rgb(160, 239, 165);">
                                <label><input type="checkbox">Boarding House</label>
                            </div>
                            <div class = "well" style = "background: rgb(218, 171, 234);">
                                <label><input type="checkbox">Apartment</label>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-offset-1 col-sm-3">
                        <h2 style = "text-align:center; font-family:Impact, Charcoal, sans-serif;">When?</h2>
                        <hr>
                        <div class = "well" style = "background: rgb(160, 190, 239);">
                            <h4>From</h4>
                            <input type="date" placeholder="from" style="border-radius: 5px;">
                        </div>
                        <div class = "well" style = "background: rgb(239, 208, 160);">
                            <h3>To</h3>
                            <input type="date" placeholder="to" style="border-radius: 5px;">
                        </div>
                        <hr>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-success btn-lg">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        
        
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
