<!-- This is the html code for the home page of the Web Application. It contains a search form by which the user can select
the parameters (where, what when) for the accomodation he's looking for. The request is then sent to the server by a single 
submit button -->

<!DOCTYPE html>
<html>

    <head> 
        <title>Homepage</title>
        <link href="..\CSS\home_page.css" rel="stylesheet" type="text/css">
		<link href="..\CSS\navbar_modals.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Reem+Kufi" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
		<h1 class = "main_title">Affitti Trento</h1>
		
		<hr>
		
		<!-- Navbar -->
		<nav class = "centered_nav">
  			<div class="container-fluid">
    			<ul class="nav navbar-nav">
      				<li><a href="/" class = "white">Home</a></li>
      				<li><a href="#" id = "login_button" class = "white">Login</a></li>
      				<li><a href="#" id = "register_button" class = "white">Register</a></li> 
    			</ul>
  			</div>
		</nav>
		
		<br>
		<br>
		
		<!-- Register modal -->
		<div id = "register_modal" class = "modal">
			<div class = "modal_content">
    			<span class = "close_register">x</span>
    			<h3 class = "modal_title">Register</h3>
				<hr>
				<form action="/register" method="post" enctype="multipart/form-data">
					<div class = "form-group">
						<label for = "text">Nickname:</label>
    					<input type = "text" class = "form-control" name = "nickname" id = "nickname">
					</div>
					<div class = "form-group">
    					<label for = "email">Email address:</label>
    					<input type = "email" class = "form-control" name = "email" id = "email">
  					</div>
  					<div class = "form-group">
    					<label for = "pwd">Password:</label>
    					<input type = "password" class = "form-control" name = "password" id = "pwd">
  					</div>
					<div class = "form-group">
    					<label for = "pwd">Phone number</label>
    					<input type = "text" class = "form-control" name = "phone_number" id = "phoneNUmber">
  					</div>
					<div class = "form-group">
    					<label for = "pwd">Choose profile picture</label>
    					<input type = "file" name = "file" class = "form-control" id = "profilePic">
  					</div>
					<hr>
					<div class = "centered_text">
  						<button type = "submit" class = "btn btn-primary">Submit</button>
					</div>
				</form>
  			</div>
		</div>
		
		<!-- Login modal -->
		<div id = "login_modal" class = "modal">
			<div class = "modal_content">
    			<span class = "close_login">x</span>
    			<h3 class = "modal_title">Login</h3>
				<hr>
				<form action="/login" method="post">
					<div class = "form-group">
    					<label for = "text">Nickname:</label>
    					<input type = "text" class = "form-control" id = "nickname" name = "nickname">
  					</div>
  					<div class = "form-group">
    					<label for = "pwd">Password:</label>
    					<input type = "password" class = "form-control" id = "pwd" name = "password">
  					</div>
					<hr>
					<div class = "centered_text">
  						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
  			</div>
		</div>
		
		<!-- Search form -->
		<form action="/search" method="get">
			<div class = "well form_well">
				<div class = "container">
					<form class = "form-vertical">
						<div class = "form-group">
							<div class = "col-sm-2">

								<!-- Search by zone -->
								<h2 class = "search_parameters">Where?</h2>
								<hr>
								<div class = "search_card search_card1 well" id = "card1" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox1" name = "locality" value = "trento">
									<label class = "search_card_label" id = "card1">Trento</label>
								</div>
								<div class = "search_card search_card2 well" id = "card2" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox2" name = "locality" value = "povo">
									<label class = "search_card_label" id = "card2">Povo</label>
								</div>
								<div class = "search_card search_card3 well" id = "card3" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox3" name = "locality" value = "mesiano">
									<label class = "search_card_label" id = "card3">Mesiano</label>
								</div>
								<div class = "search_card search_card4 well" id = "card4" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox4" name = "locality" value = "villazzano">
									<label class = "search_card_label" id = "card4">Villazzano</label>
								</div>
								<div class = "search_card search_card5 well" id = "card5" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox5" name = "locality" value = "san_dona">
									<label class = "search_card_label" id = "card5">San Donà</label>
								</div>
							</div>
							
							<div class = "col-sm-2">
								
								<!-- Search by type of accomodation -->
								<h2 class = "search_parameters">What?</h2>
								<hr>
								<div class = "search_card search_card6 well" id = "card6" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox6" name = "rooms_typology" value = "single_room">
									<label class = "search_card_label" id = "card6">Single <br> Room</label>
								</div>
								<div class = "search_card search_card7 well" id = "card7" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox7" name = "rooms_typology" value = "single_room">
									<label class = "search_card_label" id = "card7">Double <br> Room</label>
								</div>
								<div class = "search_card search_card8 well" id = "card8" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox8" name = "house_typology" value = "boarding_house">
									<label class = "search_card_label" id = "card8">Boarding <br> House</label>
								</div>
								<div class = "search_card search_card9 well" id = "card9" onclick="select()">
									<input type = "checkbox" class = "hidden_checkbox" id = "checkbox9" name = "house_typology" value = "apartment">
									<label class = "search_card_label" id = "card9">Apartment</label>
								</div>
							</div>
							
							<!-- Search by period of availability -->
							<div class = "col-sm-offset-1 col-sm-3">
								<h2 class = "search_parameters">When?</h2>
								<hr>
								<div class = "calendar_card well">
									<h3 class = "calendar_title">From</h4>
									<input type="date" placeholder="from" style="border-radius: 5px;">
								</div>
								<hr>
								<div style="text-align:center">
									<button type="submit" class="btn btn-success btn-lg">Search</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</form>
               
        <!-- JS scripts -->
        <script src = "../JS/home_page.js"></script>
        <script src = "../JS/modals.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
