.gallery_image_div {
    display: inline-block;
    padding: 10px;
}

.gallery_image {
    width: 180px;
    height: 100px;
    border-radius: 10px;
}

.well {
   	border-radius: 15px !important;
	background-color: rgb(106, 172, 186) !important;
	border: 1px solid black !important;
}

.desc_title {
    font-family: Impact, Charcoal, sans-serif;
}

.desc_par {
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

.centered_text {
    text-align: center;
}

.map_iframe {
	border: solid 3px;
}

body {
	background-color: rgb(252, 245, 204) !important;
}

.main_title {
    text-align: center; 
    font-family: Arial Black, Gadget, sans-serif;
}

.map_div {  
    width: 100%;
}



