.filters_div {
    border: 2px solid white;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.filters_title {
     text-align: center; 
    font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
}

label {
	color: white;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 15px;
	text-align: center;
}

.filters_input {
    border-radius: 5px;
}

.centered_text {
    text-align: center;
}

.card_div {
    border: 2px solid white;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.card_img_div {
    height: 80%;
}

.card_img {
    height: 40%; 
    width: 100%; 
    border-radius: 15px;
}

.card_title {
    text-align: center; 
    font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
}

.short_description {
	color: white;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 15px;
	text-align: center;
}

