body {
    background-image: url("../Pictures/school.png"); 
    background-repeat: repeat; 
    background-position: center;
}

.main_title {
    text-align: center; 
    font-family: Arial Black, Gadget, sans-serif;
}

#filters_div {
    background: rgb(216, 216, 208); 
    border-style: solid 2px; 
    border-color: black;
}

.filters_title {
    font-family: Impact, Charcoal, sans-serif;
}

.filters_input {
    border-radius: 5px;
}

.centered_text {
    text-align: center;
}

#card_div {
    background: rgb(155, 188, 242); 
    border-style: solid 2px; 
    border-color: black;
}

.card_img_div {
    height: 80%;
}

.card_img {
    height: 40%; 
    width: 100%; 
    border-radius: 15px;
}

.card_title {
    font-family: Arial Black, Gadget, sans-serif; 
    top: 0px;
}
