#user_well {
	text-align: center;
	border: 2px solid white;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.main_title {
    text-align: center; 
    font-family: Arial Black, Gadget, sans-serif;
}

.user_div_title {
    font-family: Impact, Charcoal, sans-serif;
}

.centered_text {
    text-align: center;
}

.card_title {
    font-family: 'Reem Kufi', sans-serif;
	color: white;
    margin-top: 5%;
	font-size: 25px;
}

.shortDescription {
	font-family: 'Reem Kufi', sans-serif;
	color: white;
}

.profile_pic_div {
    text-align: center;
}

.profile_pic {
    height:400px;
}

.insertions_title {
    text-align: center; 
    font-family: 'Amatic SC', cursive;
	font-size: 40px;
	color: white;
}

#card_div {
	border: 2px solid white;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3) !important;
}



